<!-- {{ template "assignment_form" .AssignmentForm }} -->
{{ block "assignment_form" . }}
<div class="w-full justify-center">
  <div class="flex justify-between">
    <div class="pb-2">
      <h2 class="capitalize text-xl py-4">Apply Assignment</h2>
    </div>


    <div class="flex inline-flex">
      <div class="relative content-center mr-4">
        {{ if .IsGlobal }}
        <button id="globalAssignment" hx-post="/assignment/global?isGlobal=false" hx-target="body" hx-swap="outerHTML swap:100ms"
          class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus-visible:outline-indigo-600 font-medium rounded-lg text-sm px-6 py-3 text-center inline-flex items-center border border-indigo-600"
          type="button">
          Remove Global Assignment
        </button>
        {{ else }}
        <button id="globalAssignment" hx-post="/assignment/global?isGlobal=true" hx-target="body" hx-swap="outerHTML swap:100ms"
          class="border-solid border-indigo-600 text-indigo-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus-visible:outline-white font-medium rounded-lg text-sm px-6 py-3 text-center inline-flex items-center"
          type="button">
          Assign to Global
        </button>
        {{ end }}
      </div>

      <div class="relative content-center">
        {{ if eq .FeatureFlagID 0 }}
        <button id="dropdownDefaultButton" hx-get="/toggle-dropdown" hx-target="#dropdown" hx-swap="outerHTML swap:100ms"
          class="border-solid border-indigo-600 text-indigo-600 bg-white hover:bg-gray-100 focus:ring-4 focus:outline-none focus-visible:outline-white font-medium font-medium rounded-lg text-sm px-6 py-3 text-center inline-flex items-center"
          type="button">
          Select a feature flag
          <svg class="ml-2 w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        {{ else }}
        <button id="dropdownDefaultButton" hx-get="/toggle-dropdown" hx-target="#dropdown" hx-swap="outerHTML swap:100ms"
          class="text-white bg-indigo-600 hover:bg-indigo-500 focus:ring-4 focus:outline-none focus-visible:outline-indigo-600 font-medium rounded-lg text-sm px-6 py-3 text-center inline-flex items-center"
          type="button">
          {{ .FeatureFlagName }}
          <svg class="ml-2 w-2.5 h-2.5 ms-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none"
            viewBox="0 0 10 6">
            <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
              d="m1 1 4 4 4-4" />
          </svg>
        </button>
        {{ end }}

        <!-- Dropdown menu will be filled up by  hx-get="/toggle-dropdown" -->
        <div id="dropdown" hidden></div>
      </div>
    </div>
  </div>

  {{ if .ErrorPage }}

  {{ template "page_error" .}}

  {{ end }}

  {{ template "people_filters" . }}
  <hr />
  {{ template "people_list" . }}
</div>

{{ end }}