{{ block "feature_flags" . }}
<div id="feature-flag-list" class="">
  <h2 class="capitalize text-2xl py-4">Feature Flags</h2>

  <table class="table-fixed w-full text-sm text-left">
    <thead class="table-header-group uppercase">
      <tr class="table-row">
        <th class="table-cell text-left px-2 py-2 w-4">ID</th>
        <th class="table-cell text-left px-2 py-2 w-16">Name</th>
        <th class="table-cell text-left px-2 py-2 w-36">Description</th>
        <th class="table-cell text-left px-2 py-2 w-8">Status</th>
        <th class="table-cell text-left px-2 py-2 w-10">Expiration Date</th>
        <th class="table-cell text-left px-2 py-2 w-8">Actions</th>
      </tr>
    </thead>
    <tbody class="table-row-group">
      {{ range . }}
      <tr class="table-row border-b hover:bg-gray-50">
        <td class="table-cell px-2 py-2">{{ .ID }}</td>
        <td class="table-cell px-2 py-2">{{ .Name }}</td>
        <td class="table-cell px-2 py-2 truncate">{{ .Description }}</td>
        <td class="table-cell px-2 py-2">
          {{ if .IsActive }}
          <div class="flex justify-start">
            <img src="/images/active.svg" alt="is-active" style="width: 20px; height: 20px">
            <span class="pl-1">Active</span>
          </div>
          {{ else }}
          <div class="flex justify-start">
            <img src="/images/inactive.svg" alt="is-inactive" style="width: 20px; height: 20px">
            <span class="pl-1">Inactive</span>
          </div>
          {{ end }}
        </td>
        <td class="table-cell px-2 py-2">{{ .ExpirationDate }}</td>
        <td class="table-cell px-2 py-2">
          <div class="flex justify-start">
            <!-- Edit -->
            <img class="ml-2 cursor-pointer" src="/images/edit.svg" alt="edit" style="width: 20px; height: 20px"
              hx-get="/feature-flag-form?id={{ .ID }}" hx-target="body" hx-swap="outerHTML swap:100ms">
            <!-- Activate/Inactivate -->
            <img class="ml-2 cursor-pointer" src="/images/activate.svg" alt="activate" style="width: 20px; height: 20px"
              hx-put="/feature-flag/active/{{ .ID }}" hx-target="body" hx-swap="outerHTML swap:100ms">
            <!-- Assignment -->
            <img class="ml-2 cursor-pointer" src="/images/assign.svg" alt="activate" style="width: 20px; height: 20px"
              hx-get="/assignment-form?id={{ .ID }}" hx-target="body" hx-swap="outerHTML swap:100ms">
          </div>
        </td>
      </tr>
      {{ end }}
    </tbody>
  </table>
</div>
{{ end }}