{{ block "header_actions" . }}
<div id="header-actions" class="flex justify-between">
  <h1 class="text-2xl cursor-pointer" hx-get="/" hx-target="body">HTMX Feature Flags Demo</h1>
  <div>
    {{ if eq .Header.IsEditing false }}
    <button hx-get="/new-feature-flag-form" hx-target="body" hx-swap="outerHTML swap:100ms"
      class="text-sm font-semibold leading-6 text-white shadow-sm bg-indigo-600 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      <span class="text-lg mr-2">+</span>Feature Flag
    </button>
    {{ end }}
    {{ if eq .Header.IsAssigning false }}
    <button hx-get="/assignment-form" hx-target="body" hx-swap="outerHTML swap:100ms"
      class="text-sm font-semibold leading-6 text-white shadow-sm bg-indigo-600 hover:bg-indigo-500 focus-visible:outline focus-visible:outline-2 focus-visible:outline-offset-2 focus-visible:outline-indigo-600">
      <span class="text-lg mr-2">@</span>Assign FF to People
    </button>
    {{ end }}
  </div>
</div>
{{ end }}